/* Design of a card */
.card {
  font-size: 14px;
  line-height: 200px;
  text-align:center;
  width: 150px;
  height: 200px;
  display: block;
  background: #666;
  -webkit-transform-origin: 50% 99%;
  transform-origin: 50% 99%;
}
.cardcontainer {
  padding: 10px;
  text-align: center;
  width: 150px;
}

/* List functionality */
.list .cardlist {
  margin: 0;
  padding: 0;
}
.tinderesque .list .card {
  display: none;
}
.tinderesque .list .current {
  display: block;
}

/* Button designs */

.but-nope, .but-yay, .nopes, .yays {
  display: none;
}

.tinderesque .but-nope, .tinderesque .but-yay,
.tinderesque .nopes, .tinderesque .yays {
  display: inline-block;
}

.cardcontainer button {
  background: #0c0;
  border: none;
  color: #fff;
  border-radius: 50% 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 .5em;
  display: inline-block;
}
.cardcontainer button:focus {
  outline: 0;
  background: #0f0;
}
.cardcontainer .but-nope {
  background: #c00;
}
.cardcontainer .but-nope:focus {
  outline: 0;
  background: #f00;
}

.tinderesque .cardcontainer.yes .card {
  -webkit-animation: yay 0.7s ease-out;
  animation: yay 0.7s ease-out;
}
.tinderesque .cardcontainer.nope .card {
  -webkit-animation: nope 0.7s ease-out;
  animation: nope 0.7s ease-out;
}


/*
  Animations, isn't it 'fun' to repeat all of that, just for Safari? :)
*/

@keyframes yay {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(40deg) translateY(-80px);
    opacity: 0;
  }
}

@-webkit-keyframes yay {
  from {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(40deg) translateY(-80px);
    opacity: 0;
  }
}

@keyframes nope {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(-40deg) translateY(-80px);
    opacity: 0;
  }
}

@-webkit-keyframes nope {
  from {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(-40deg) translateY(-80px);
    opacity: 0;
  }
}


 body {
      font-family: "Segoe UI", helvetica, arial, sans-serif;
      /*background: #cccccc;*/
      font-weight: lighter;
      /*background: linear-gradient(#333,#666);*/
      color: #ccc;
      font-size: 16px;
      padding: 0;
      margin: 0;
    }
    header, section, footer {
      display: block;
      padding: 0.5em 1em;
    }
    header, footer {
      display: block;
    }
    a {color: lime;}
    h1, h2 {
      color: #f8f8f8;
      font-size: 50px;
      text-align: center;
      margin: 0;
      font-weight: lighter;
    }
    h2 {font-size: 20px;}
    .floaty .cardcontainer {
      float: left;
    }
    h2 {clear: both;}
    footer, header, section {
      display: block;
    }
    footer {
      font-size: 10px;
      text-align: right;
      padding: 3em 0.5em 1em 0.5em;
    }
    .nobutton:hover .yes {
      -webkit-animation: yay 0.7s ease-out;
      animation: yay 0.7s ease-out;
    }
    .nobutton:hover .nope {
      -webkit-animation: nope 0.7s ease-out;
      animation: nope 0.7s ease-out;
    }
    .card {
      background: white;
      color: #000;
      line-height: 50px;
      padding: 20px;
      text-align: left;
      width: 360px;
      font-size: 40px;
      height: 460px;
      display: block;
      -webkit-transform-origin: 50% 99%;
      transform-origin: 50% 99%;
      position: relative;
    }

    .card a {
      font-size: 20px;
      color: #000;
      text-decoration: none;
    }
    .card > a {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
    .cardcontainer {
      padding: 10px;
      margin: 0 auto;
      text-align: center;
      width: 400px;
    }
    .cardlist {
      background: white;
    }
    button {
      background: #0c0;
      border: none;
      color: #fff;
      border-radius: 50% 50%;
      width: 100px;
      height: 100px;
      font-size: 50px;
      line-height: 100px;
      margin: 0 .5em;
      display: inline-block;
    }
    .list ul.cardlist {
      margin-bottom: 10px;
    }
    span {
      font-size: 50px;
      color: black
    }
    .ismac .card li {
      list-style-type: none;
      padding: 5px 20px;
    }
    .card li {
      list-style-type: square;
      font-size: 20px;
      line-height: 25px;
      padding: 5px 0;
      margin-left: 10px;
      position: relative;
    }
    .ismac .card li::before {
      content: '🦄';
      position: absolute;
      left: -10px;
    }
    .card ul {
      margin: 10px;
      padding: 0;
    }
    .icon {
      font-size: 180px;
      margin: 130px 0 0 0;
      text-align: center;
      display: none;
    }
    .ismac .icon {
      display: block;
    }
    pre {
      font-size: 25px;
    }

    @keyframes yay {
      from {
        transform: rotate(0deg);
        opacity: 1;
      }
      to {
        transform: rotate(40deg) translateY(-80px);
        opacity: 0;
        background: mediumseagreen;
      }
    }

    @-webkit-keyframes yay {
      from {
        -webkit-transform: rotate(0deg);
        opacity: 1;
      }
      to {
        -webkit-transform: rotate(40deg) translateY(-80px);
        opacity: 0;
        background: mediumseagreen;
      }
    }

    @keyframes nope {
      from {
        transform: rotate(0deg);
        opacity: 1;
      }
      to {
        transform: rotate(-40deg) translateY(-80px);
        opacity: 0;
        background: firebrick;
      }
    }

    @-webkit-keyframes nope {
      from {
        -webkit-transform: rotate(0deg);
        opacity: 1;
      }
      to {
        -webkit-transform: rotate(-40deg) translateY(-80px);
        opacity: 0;
        background: firebrick;
      }
    }




