{% extends 'base.html' %} {% load staticfiles %}
{% block content %}
    <!-- content page -->
    {% for dish in dishes %}
        {% if forloop.first %}
            <li class="card current">
             <img style="border-radius: 5% " width="100%" height="100%" src="{{dish.photo.url}}">
              <p class="h5 text-center">{{ dish.name }}</p>
            </li>
        {% else %}
            <li class="card">
             <img style="border-radius: 5% " width="100%" height="100%" src="{{dish.photo.url}}">
              <p class="h5 text-center">{{ dish.name }}</p>
          </li>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block extrajs %}
    <script>
          // colour emoji are better
          if (navigator.userAgent.indexOf('Macintosh') !== -1) {
            document.body.classList.add('ismac');
          }

          document.body.addEventListener('nopecard', function(ev) {
            // console.log(ev.detail);
          });
          document.body.addEventListener('yepcard', function(ev) {
            // console.log(ev.detail);
          });
          document.body.addEventListener('deckempty', function(ev) {
            // console.log(ev.detail);
          });
          document.body.addEventListener('cardchosen', function(ev) {
            // console.log(ev.detail);
          });
          document.body.addEventListener('nopecard', function(ev) {
            var container = ev.detail.container;
            var label = container.querySelector('.nopes');
            if (label) {
              var nopes = +container.nopes || 0;
              nopes++;
              container.nopes = nopes;
              label.innerHTML = container.nopes;
            }
          });

          document.body.addEventListener('yepcard', function(ev) {
            var container = ev.detail.container;
            var label = container.querySelector('.yays');
            if (label) {
              var yeps = +container.yeps || 0;
              yeps++;
              container.yeps = yeps;
              label.innerHTML = container.yeps;
            }
          });

          document.body.addEventListener('deckempty', function(ev) {
            document.location.href = '{% url 'home' %}';
          });

          document.body.addEventListener('keyup', function(ev){
            if (ev.which === 39) {
              document.querySelector('.but-yay').click();
            }
            if (ev.which === 37) {
              document.querySelector('.but-nope').click();
            }
          });
    </script>

{% endblock extrajs %}